{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
<div class="col-md-12">
<h2>Ascenseur {{ ascenseur.constructeurNom }}  <small><span class="badge badge-{% if ascenseur.statut == "EN_PANNE" %}danger{% else %}success{% endif %}">{% if ascenseur.statut == "EN_PANNE" %}En panne{% else %}En fonction{% endif %}</span></small></h2>
</div>
<div class="col-md-6 my-3">
<h2><small>
{{ ascenseur.adresse }} {{ ascenseur.codePostal }} {{ ascenseur.commune }}<br />
{{ ascenseur.emplacement }} {% if ascenseur.etageMin or ascenseur.etageMax %}(du {{ ascenseur.etageMin }} au {{ ascenseur.etageMax }}){% endif %}
</small></h2>
</div>
<div class="col-md-6 text-right my-3">
<p>{{ ascenseur.nombreFollowers }} personnes suivent cet ascenseur</p>
<p><a href="{{ path('ascenseur_follower', { ascenseur: ascenseur.id })}}" class="btn btn-success">Rejoindre la communauté</a></p>
</div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        {% set lat = ascenseur.lat  %}
        {% set lon = ascenseur.lon  %}
        <div id="map" style="width: 100%; height: 200px;" data-geojson="{{ geojson | json_encode(constant('JSON_HEX_QUOT')) }}" data-lat="{{ lat }}" data-lon="{{ lon }}" data-zoom="12"></div>
    </div>
    <div class="col-md-6">
        <div class="row">
        {% for photo in ascenseur.photos|slice(0, 2) %}
        <div class="col-md-6 mb-3 text-center">
            <img src="{{ photo.getBase64Src() }}" alt="{{ photo.updatedAt |date("m/d/Y") }}" class="img-fluid" style="margin-bottom:0; max-height : 200px;"/>
         </div>
        {% endfor %}
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-6">
        <div class="card">
            <h4 class="card-header">Informations techniques</h4>
            <table class="table">
                <tbody>
                <tr>
                    <th class="col-5">Constructeur :</th>
                    <td class="col-7">{% if ascenseur.constructeurNom %}{{ ascenseur.constructeurNom }}{% else %}<small class="text-muted"><i>Information manquante</i></small>{% endif %}</td>
                </tr>
                <tr>
                    <th class="col-5">Référence :</th>
                    <td class="col-7">{% if ascenseur.reference %}{{ ascenseur.reference }}{% else %}<small class="text-muted"><i>Information manquante</i></small>{% endif %}</td>
                </tr>
                <tr>
                    <th class="col-5">Date de construction :</th>
                    <td class="col-7">{% if ascenseur.dateConstruction %}{{ ascenseur.dateConstruction | date('d/m/Y') }}{% else %}<small class="text-muted"><i>Information manquante</i></small>{% endif %}</td>
                </tr>
                <tr>
                    <th class="col-5">Date de rénovation :</th>
                    <td class="col-7">{% if ascenseur.dateRenovation %}{{ ascenseur.dateRenovation | date('d/m/Y') }}{% else %}<small class="text-muted"><i>Information manquante</i></small>{% endif %}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <h4 class="card-header">Contact des responsables</h4>
            <table class="table">
                <tbody>
                <tr>
                    <th class="col-5">Bailleur :</th>
                    <td class="col-7">{% if ascenseur.bailleurNom %}{{ ascenseur.bailleurNom }} {% if ascenseur.bailleurContact %}({{ ascenseur.bailleurContact }}){% endif %}{% else %}<small class="text-muted"><i>Information manquante</i></small>{% endif %}</td>
                </tr>
                <tr>
                    <th class="col-5">Syndic :</th>
                    <td class="col-7">{% if ascenseur.syndicNom %}{{ ascenseur.syndicNom }} {% if ascenseur.syndicContact %}({{ ascenseur.syndicContact }}){% endif %}{% else %}<small class="text-muted"><i>Information manquante</i></small>{% endif %}</td>
                </tr>
                <tr>
                    <th class="col-5">Ascensoriste :</th>
                    <td class="col-7">{% if ascenseur.ascensoristeNom %}{{ ascenseur.ascensoristeNom }} {% if ascenseur.ascensoristeContact %}({{ ascenseur.ascensoristeContact }}){% endif %}{% else %}<small class="text-muted"><i>Information manquante</i></small>{% endif %}</td>
                </tr>
                <tr>
                    <th class="col-5">Téléphone dépannage :</th>
                    <td class="col-7">{% if ascenseur.telephoneDepannage %}{{ ascenseur.telephoneDepannage }}{% else %}<small class="text-muted"><i>Information manquante</i></small>{% endif %}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<p class="text-center"><a href="{{ path('ascenseur_follower', { ascenseur: ascenseur.id })}}" class="btn btn-primary">Rejoindre cet ascenseur</a> &nbsp; <a href="{{ path('ascenseur_edition', { ascenseur: ascenseur.id })}}" class="btn btn-outline-secondary">Compléter les informations</a></p>
<hr />
<h3>Historique de l'ascenseur</h3>
{% if ascenseur.statut == "EN_PANNE" %}
<div class="alert alert-danger pb-3" role="alert">
  Cette ascenseur est en panne de depuis le {{ ascenseur.dateStatut | date("d/m/Y") }} <a href="" class="btn btn-outline-info btn-sm float-right">signaler un changement</a>
</div>
{% else %}
<div class="alert alert-success pb-3" role="alert">
  Cette ascenseur est en fonction depuis le {{ ascenseur.dateStatut | date("d/m/Y") }} <a href="" class="btn btn-outline-info btn-sm float-right">signaler un changement</a>
</div>
{% endif %}
<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <th class="col-1">Date</th>
            <th class="col-7">Infos</th>
            <th class="col-2">Auteur</th>
        </tr>
    </thead>
    <tbody>
        {% for evenement in ascenseur.historique %}
        <tr>
            <td>{{ evenement.date | date("d/m/Y") }}</td>
            <td>{{ evenement.commentaire }}</td>
            <td>{{ evenement.auteur }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
