{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
<div class="col-md-12">
<h2>Ascenseur {{ ascenseur.constructeurNom }} <small><span class="badge badge-{% if ascenseur.statut is constant('STATUT_ENPANNE', ascenseur) %}danger{% else %}success{% endif %}">{% if ascenseur.statut is constant('STATUT_ENPANNE', ascenseur) %}En panne{% else %}En fonction{% endif %}</span></small></h2>
</div>
<div class="col-md-6 my-3">
<h2><small>
{% if ascenseur.adresse %}
    {{ ascenseur.adresse }}
{% endif %}
{% if ascenseur.codePostal %}
    {{ ascenseur.codePostal }}
{% endif %}
{% if ascenseur.commune %}
    {{ ascenseur.commune }}
{% endif %}

{% if not ascenseur.adresse and not ascenseur.codePostal and not ascenseur.commune %}<em class="text-muted">Adresse non renseignée</em>{% endif %}
<br />
{{ ascenseur.emplacement }} {% if ascenseur.etageMin or ascenseur.etageMax %}(du {{ ascenseur.etageMin }} au {{ ascenseur.etageMax }}){% endif %}
</small></h2>
</div>
<div class="col-md-6 text-right my-3">
<p>{{ ascenseur.nombreFollowers + 1 }} {% if ascenseur.nombreFollowers > 0 %}personnes suivent{% else %}personne suit{% endif %} cet ascenseur</p>
<p>
    <a href="{{ path('ascenseur_photo', { id: ascenseur.id })}}" class="btn btn-info">Ajouter une photo</a>
    <a href="{{ path('ascenseur_follower', { id: ascenseur.id })}}" class="btn btn-success">Rejoindre la communauté</a>
</p>
</div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        {% set lat = ascenseur.lat  %}
        {% set lon = ascenseur.lon  %}
        <div id="map" style="width: 100%; height: 200px;" data-geojson="{{ geojson | json_encode(constant('JSON_HEX_QUOT')) }}" data-lat="{{ lat }}" data-lon="{{ lon }}" data-zoom="12"></div>
    </div>
    <div class="col-md-6">
        <div class="row">
        {% for idPhoto in ascenseur.photosId|slice(0, 2) %}
        <div class="col-md-6 mb-3 text-center">
            <a href="{{ path('photo', { id: idPhoto, size: 'original' }) }}" title="Photo">
                <img src="{{ path('photo', { id: idPhoto }) }}" alt="Photo de l'ascenseur" class="img-fluid" style="margin-bottom:0; max-height : 200px;"/>
            </a>
         </div>
        {% endfor %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Informations techniques</h4>
            </div>
            <table class="table table-sm">
                <tbody>
                <tr class="row mx-0">
                    <th class="col-4">Constructeur :</th>
                    <td class="col-8">{% if ascenseur.constructeurNom %}{{ ascenseur.constructeurNom }}{% else %}<small class="text-muted"><i>Information manquante</i></small>{% endif %}</td>
                </tr>
                <tr class="row mx-0">
                    <th class="col-4">Référence :</th>
                    <td class="col-8">{% if ascenseur.reference %}{{ ascenseur.reference }}{% else %}<small class="text-muted"><i>Information manquante</i></small>{% endif %}</td>
                </tr>
                <tr class="row mx-0">
                    <th class="col-4">Date construction :</th>
                    <td class="col-8">{% if ascenseur.dateConstruction %}{{ ascenseur.dateConstruction | date('d/m/Y') }}{% else %}<small class="text-muted"><i>Information manquante</i></small>{% endif %}</td>
                </tr>
                <tr class="row mx-0">
                    <th class="col-4">Date rénovation :</th>
                    <td class="col-8">{% if ascenseur.dateRenovation %}{{ ascenseur.dateRenovation | date('d/m/Y') }}{% else %}<small class="text-muted"><i>Information manquante</i></small>{% endif %}</td>
                </tr>
                <tr class="row mx-0">
                    <th class="col-4">Étages :</th>
                    <td class="col-8">{% if ascenseur.etageMin or ascenseur.etageMax %}{% if ascenseur.etageMin %}{{ ascenseur.etageMin }} au {% endif %}{{ ascenseur.etageMax }}{% else %}<small class="text-muted"><i>Information manquante</i></small>{% endif %}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Contact des responsables</h4>
            </div>
            <table class="table table-sm">
                <tbody>
                <tr class="row mx-0">
                    <th class="col-4">Bailleur :</th>
                    <td class="col-8">{% if ascenseur.bailleurNom %}{{ ascenseur.bailleurNom }} {% if ascenseur.bailleurContact %}({{ ascenseur.bailleurContact }}){% endif %}{% else %}<small class="text-muted"><i>Information manquante</i></small>{% endif %}</td>
                </tr>
                <tr class="row mx-0">
                    <th class="col-4">Syndic :</th>
                    <td class="col-8">{% if ascenseur.syndicNom %}{{ ascenseur.syndicNom }} {% if ascenseur.syndicContact %}({{ ascenseur.syndicContact }}){% endif %}{% else %}<small class="text-muted"><i>Information manquante</i></small>{% endif %}</td>
                </tr>
                <tr class="row mx-0">
                    <th class="col-4">Ascensoriste :</th>
                    <td class="col-8">{% if ascenseur.ascensoristeNom %}{{ ascenseur.ascensoristeNom }} {% if ascenseur.ascensoristeContact %}({{ ascenseur.ascensoristeContact }}){% endif %}{% else %}<small class="text-muted"><i>Information manquante</i></small>{% endif %}</td>
                </tr>
                <tr class="row mx-0">
                    <th class="col-4">Tél. dépannage :</th>
                    <td class="col-8">{% if ascenseur.telephoneDepannage %}{{ ascenseur.telephoneDepannage }}{% else %}<small class="text-muted"><i>Information manquante</i></small>{% endif %}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row my-3">
    <div class="col-6">
        <a href="{{ path('ascenseur_follower', { id: ascenseur.id })}}" class="btn btn-block btn-primary">Rejoindre cet ascenseur</a>
    </div>
    <div class="col-6">
        <a href="{{ path('ascenseur_edition', { id: ascenseur.id })}}" class="btn btn-block btn-outline-secondary">Compléter les informations</a>
    </div>
</div>

<h3>Historique de l'ascenseur</h3>

<div class="clearfix alert alert-{% if ascenseur.statut is constant('STATUT_ENPANNE', ascenseur) %}danger{% else %}success{% endif %}" role="alert">
    Cet ascenseur est en {% if ascenseur.statut is constant('STATUT_ENPANNE', ascenseur) %}panne{% else %}fonction{% endif %} depuis le {{ ascenseur.dateStatut | date("d/m/Y") }}.
    <a href="{{ path('switch_status', {id: ascenseur.id}) }}"
       class="btn btn-outline-info btn-sm float-right py-0">
        Signaler un changement
    </a>
</div>

<table class="table table-bordered table-sm">
    <thead style="border-spacing:0;">
        <tr class="row mx-0">
            <th class="col-1">Date</th>
            <th class="col-8">Infos</th>
            <th class="col-3">Auteur</th>
        </tr>
    </thead>
    <tbody>
        {% for evenement in ascenseur.historique %}
        <tr class="row mx-0">
            <td class="col-1">{{ evenement.date | date("d/m/Y") }}</td>
            <td class="col-8">{{ evenement.commentaire }}</td>
            <td class="col-3">{{ evenement.auteur }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
