{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-sm-8 col-offset-md-2">
        <h1>Ascenseur {{ ascenseur.id }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-offset-md-2">
        <div class="row">
            <div class="col-sm-6">
                {% set lat = ascenseur.lat  %}
                {% set lon = ascenseur.lon  %}
                <div id="map" style="width: 100%; min-height: 200px;" data-geojson="{{ geojson | json_encode(constant('JSON_HEX_QUOT')) }}" data-lat="{{ lat }}" data-lon="{{ lon }}" data-zoom="12"></div>
            </div>
            <div class="col-sm-6">
                {% for photo in ascenseur.photos %}
                 <img src="{{ photo.getBase64Src() }}" alt="{{ photo.updateAt |date("m/d/Y") }}" class="img-thumbnail vignette" style="margin-bottom:0; max-width : 100px; max-height : 100px;"/>
                {% endfor %}
            </div>
    </div>
</div>
{% endblock %}
