{% extends 'base.html.twig' %}

{% block body %}
        <br/><br/><br/>
        <div class="row">
            <div class="col-sm-8 col-offset-xs-2">
                <h1>Signaler un ascenseur en panne</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-offset-xs-2">
                {{ form_start(uploadPhotoForm,{ "enctype" : "multipart/form-data"}) }}
                    <div class="row">
                      <div class="form-group">
                          {{ form_label(uploadPhotoForm.imageFile, "Fichier :", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                          <div class="col-sm-8">
                              {{ form_widget(uploadPhotoForm.imageFile,{'attr' : {'accept' : "image/*;capture=camera"}}) }}
                          </div>
                      </div>
                  </div>
                  {{ form_widget(uploadPhotoForm.lat) }}
                  {{ form_widget(uploadPhotoForm.lon) }}
                <hr />
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="ajoutImage btn btn-success btn-lg">Ajouter la photo</button>
                        </div>
                    </div>
                </div>
                {{ form_end(uploadPhotoForm) }}
            </div>
        </div>
{% endblock %}
