{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <h2>Signaler un ascenseur en panne</h2>
        {{ form_start(uploadPhotoForm) }}
            <div class="row">
              <div class="form-group">
                  {{ form_label(uploadPhotoForm.imageFile, "Fichier :", {'label_attr': {'class': 'col-xs-4 control-label'}}) }}
                  <div class="col-xs-8">
                      {{ form_widget(uploadPhotoForm.imageFile,{'attr' : {'accept' : "image/*;capture=camera"}}) }}
                  </div>
              </div>
        </div>
        <hr />
        <div class="row">
            <div class="form-group">
                <button type="submit" class="ajoutImage">Ajouter la photo</button>
            </div>
        </div>
        {{ form_end(uploadPhotoForm) }}
    </div>
    <div id="photos">
        {% for photo in photos %}
        <img src="{{ photo.getBase64Src() }}" alt="{{ photo.originalName }}" class="img-thumbnail vignette" style="margin-bottom:0;" />
        {% endfor %}
    </div>
{% endblock %}
