{% extends 'base.html.twig' %}

{% form_theme form _self 'bootstrap_4_layout.html.twig' %}

{% block body %}

<h2>Signaler la panne d'ascenseur</h2>

<p class="text-muted">Nous vous invitons à compléter quelques informations afin d'en savoir plus sur votre situation et les préjudices subits. Tous les champs sont facultatifs.</p>

{{ form_start(form) }}
    L'ascenseur est en panne depuis : <a href="">Ajourd'hui</a>
    <hr />
    <h3>Votre usage de l'ascenseur</h3>
    {{ form_row(form.usage) }}
    <div class="form-group">
        {{ form_label(form.etage) }}
        <div class="input-group">
            {{ form_widget(form.etage) }}
            <div class="input-group-append"><span class="input-group-text">Numéro de l'étage</span></div>
        </div>
        <small class="form-text text-muted">Par exemple -2 ou 9</small>
    </div>
    {{ form_row(form.etageAtteint) }}
    <div class="form-group {% if not form.vars.value.etageAtteint %}d-none{% endif %}">
        {{ form_label(form.duree) }}
        <div class="input-group">
            {{ form_widget(form.duree) }}
            <div class="input-group-append"><span class="input-group-text">minutes</span></div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.commentaire) }}
        {{ form_widget(form.commentaire) }}
        <small class="form-text text-muted">Ce commentaire sera rendu public (la saisie est facultative)</small>
    </div>
    {{ form_row(form.commentaire) }}
    <hr />
    <h3>Qui êtes vous</h3>
    <div class="form-group">
        {{ form_label(form.pseudo) }}
        {{ form_widget(form.pseudo) }}
        <small class="form-text text-muted">Votre nom / pseudo sera rendu public (la saisie est facultative)</small>
    </div>
    <div class="form-group">
        {{ form_widget(form.abonnement) }}
    </div>
    <div id="signalement_infos_abonnement" class="{% if not form.vars.value.abonnement %}d-none{% endif %}">
    {{ form_row(form.email) }}
    {{ form_row(form.telephone) }}
    <small class="form-text text-muted">L'email et le téléphone sont des données à caractère personnelles qui seront utilisées que dans le cadre de ce service. Elles ne seront pas communiquées à des tiers. Vous disposez d'un droit d'accès, de modification et de suppression conformément au dispositions CNIL. N'hésitez pas à contacter les administrateurs du site pour toute question.</small>
    </div>
    <hr />
    <button type="submit" class="btn btn-block btn-success">Soumettre le signalement</button>
{{ form_end(form) }}
{% endblock %}
