{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block body %}

<h2>Signalement de la panne d'ascenseur</h2>

<p class="text-muted">Nous vous invitons à compléter quelques informations toutes facultatives afin d'en savoir plus sur votre situation et les préjudices subits</p>

{{ form_start(form) }}
    L'ascenseur est en panne depuis : <a href="">Ajourd'hui</a>
    <hr />
    {{ form_row(form.usage) }}
    {{ form_row(form.etage) }}
    {{ form_row(form.etageAtteint) }}
    {{ form_row(form.duree) }}
    {{ form_row(form.commentaire) }}
    <hr />
    {{ form_row(form.abonnement) }}
    {{ form_row(form.pseudo) }}
    {{ form_row(form.email) }}
    {{ form_row(form.telephone) }}

    <div style="margin-top: 30px;">
    <button type="submit" class="btn btn-block btn-success">Soumettre le signalement</button>
    </div>
{{ form_end(form) }}
{% endblock %}
